body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    gap: 60px;

    /* Makes it so there is no space bt the boxes on the outside of the page*/
    margin: 0;
    padding: 0;
}

/* Bar one*/
.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 60px;
 
}

.top-one{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: -150px;
}

.header-links{
    display: flex;
    gap: 20px;
    font-size: 18px;
    margin-right: -150px;
}

a{
    color: #E5E7Eb; 
    text-decoration: none;
}

.top-two{
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-bottom: 80px;
}

.left-top{
    max-width: 450px;
}

.right-top img{
    width: auto;
    height: auto;
    max-width: 500px;
}

.title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}

.title-des{
    font-size: 18px;
    color: #E5E7Eb;
}

button{
    background-color: #3882F6;
    color: white;
    padding: 10px;
    border: 0px;
    border-radius: 12px;
    width: 100px;
    margin: 10px 10px 10px 0px;
}

/* Bar Two */
.middle img{
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    border: 5px solid #3882F6;
    border-radius: 12px;
}

.info-head{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.middle{
    display: flex;
    text-align: center;
    /* This will center the pictures all smushed together in the middle*/
    justify-content: center;
    /* This will add a gap bt each picture so they are not smushed together*/
    gap: 52px;
}

.textimg{
    max-width: 200px;
}


/* Bar three */
.middle-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #1F2937;
    background-color: #E5E7Eb;
}

.quote{
    font-size: 36px;
    font-style: italic;
    margin: 100px 300px 0px 300px;
}

.quote-artist{
    font-size: 24px;
    text-align: right;
    margin: 0px 0px 100px 700px;
    font-weight: bolder;
}



/* Bar four */
.bottom{
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    
    margin: 100px 500px;
    padding: 50px;
    width: 800px;

    justify-content: space-around;
}

.bot-left{
    color: white;
}

.line-one{
    font-size: 20px;
    font-weight: 800;
}

.line-two{
    font-size: 15px;
}

.bottom-button{
    border: 2px solid white;
    border-radius: 10px;
    width: 120px;
}

/* Bar five */
.footer{
    padding: 30px;
    color: white;
    background-color: #1F2937;
    text-align: center;
}
